<!DOCTYPE html>
<html>
<head>
	<title>Events</title>
</head>
<body>
<h1>Events</h1>
<p> As my work is seasonally inspired, my events calendar is too.</br>
Please check back periodically for updates, or subscribe to my online catalogue for current information.
</br>
<h3>Fall 2016</h3>
<ul> NOVEMBER 12 - Autumn Crafts Fair </ul>
<p><%= image_tag("Fall.jpg", :alt => "Fall", class:"season-img") %><p> 
<h3>Winter 2016</h3>
  <ul> December 15 - Holiday Trunk Show Marietta</ul> 
  <p><%= image_tag("wintersquare.jpg", :alt => "Winter", class:"season-img") %><p>
<h3>Spring 2017</h3>
    <ul> April 8 & 9 - Augusta Magnolia Market </ul> 
    <p><%= image_tag("Spring.png", :alt => "Spring", class:"season-img") %>
    <%= image_tag("springneck.jpg", :alt => "Spring", class:"season-img") %><p>
<h3>Summer 2017</h3>
    <ul> July 12 - Old Lyme Pop-up  </ul> 
    <p><%= image_tag("summer.jpg", :alt => "summer", class:"season-img") %><p>
</body>
</html>